@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<CRUDMVCWEB.Models.Entities.Customer>

<h1>List</h1>
<table class="table">
   <thead>
    <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Email</th>
         <th>Phone</th>
         <th>Message</th>
         <th>Agreed</th>
    </tr>
   </thead>
   <tbody>
        @foreach(var customer in Model)
        {
            <tr>
                <td>@customer.CusId</td>
                <td>@customer.CusName</td>
                <td>@customer.CusEmail</td>
                <td>@customer.CusPhone</td>
                <td>@customer.CusMessage</td>
                <td>@customer.CusAgree</td>
                <td>  <a class=" btn btn-primary" asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.CusId">Edit</a>  </td>
            </tr>
        }
    </tbody>
</table>